	

    {
      "__merge" : [],
      "defaultBlueprints" : {
        "tier1" : [ 
    { "item" : "swworkbench" },
    { "item" : "forcelightning" },
    { "item" : "forcecrush" },
    { "item" : "sandtrooperchest" },
    { "item" : "snowtrooperchest" },
    { "item" : "snowtrooperlegs" },
    { "item" : "snowtrooperhead" },    
    { "item" : "chewbaccachest" },
    { "item" : "chewbaccalegs" },
    { "item" : "chewbaccahead" },     
    { "item" : "blackimperialchest" },
    { "item" : "blackimperiallegs" },
    { "item" : "blackimperialhead" },    
    { "item" : "grayimperialchest" },
    { "item" : "grayimperiallegs" },
    { "item" : "grayimperialhead" },    
    { "item" : "zamwesselchest" },
    { "item" : "zamwessellegs" },
    { "item" : "zamwesselhead" },     
    { "item" : "republiccommandochest" },
    { "item" : "republiccommandolegs" },
    { "item" : "republiccommandohead" },           
    { "item" : "captainrexchest" },
    { "item" : "captainrexlegs" },
    { "item" : "captainrexhead" },
    { "item" : "commandercodychest" },
    { "item" : "commandercodylegs" },
    { "item" : "commandercodyhead" },
    { "item" : "slaveleiachest" },
    { "item" : "slaveleialegs" },
    { "item" : "slaveleiahead" },    
    { "item" : "sidiouschest" },
    { "item" : "sidiouslegs" },
    { "item" : "sidioushead" },
    { "item" : "starkillerchest" },
    { "item" : "starkillerlegs" },    
    { "item" : "fettpack-chip" },
    { "item" : "speederbike-chip" },
    { "item" : "princessleiachest" },
    { "item" : "princessleialegs" },
    { "item" : "princessleiahead" },    
    { "item" : "revanchest" },
    { "item" : "revanlegs" },
    { "item" : "revanhead" },
    { "item" : "revancape" },
    { "item" : "vaderchest" },
    { "item" : "vaderlegs" },
    { "item" : "vaderhead" },
    { "item" : "vadercape" },
    { "item" : "sithchest" },
    { "item" : "sithlegs" },
    { "item" : "sithhead" },
    { "item" : "jedichest" },
    { "item" : "jedilegs" },
    { "item" : "jedihead" },
    { "item" : "smugglerchest" },
    { "item" : "smugglerlegs" },
    { "item" : "scoutchest" },
    { "item" : "scoutpants" },
    { "item" : "scouthead" },
    { "item" : "stormtrooperchest" },
    { "item" : "stormtrooperpants" },
    { "item" : "stormtrooperhead" },
    { "item" : "boushhchest" },
    { "item" : "boushhpants" },
    { "item" : "boushhhead" },
    { "item" : "boushhcape" },    
    { "item" : "bobachest" },
    { "item" : "bobapants" },
    { "item" : "bobahead" },
    { "item" : "jangochest" },
    { "item" : "jangopants" },
    { "item" : "jangohead" },
    { "item" : "mandalorechest" },
    { "item" : "mandalorepants" },
    { "item" : "mandalorehead" },            
    { "item" : "mandalorianjetpack" }
     ]
      }
    }

