{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Osrag", "Poj", "Ibercacraq", "Fehliwi", "Ekug", "Iagogleru", "Uosrun", "Ievajsejo", "Uijumjoza", "Petlosug", "Ivik", "Gabwaju", "Uishak", "Ochip", "Bib", "Uijuw", "Vam", "Wuz", "Noj'recir", "Uofuppujug" ],
      [ { "mode" : "alts" }, "'biko", "'sabal", "'luzu", "'teje", "'rochen", "'vivuf", "'lohay", "'dota", "'maje", "'kawoq" ]
    ]
  ]
}
